<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" [routerLink]="['nuevo']" routerLinkActive="router-link-active" >Nuevo</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['editar']" routerLinkActive="router-link-active" >Editar</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['detalle']" routerLinkActive="router-link-active" >Detalle</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>